extends layout

block content
  .w-full.px-4.text-gray-800.leading-normal(class="md:px-6")

    h1.font-bold.font-sans.break-normal.text-gray-900.pt-6.pb-2.text-3xl(class="md:text-4xl") WebHooks

    for webhook in webhooks
      h3.font-bold Inspector ID = #{webhook.value.id}
      ul.pl-6.list-disc
        li GitHub ID = #{webhook.value.github.id}
        li GitHub Event = #{webhook.value.github.event}
        li Action = #{webhook.value.data.action}
        //- li= webhook.value.data.repositories_added.length
        //- li typeof = #{typeof webhook.value.data.repositories_added}
        //- li repositories_added = #{JSON.stringify(webhook.value.data.repositories_added)}
        if webhook.value.data.repositories_added && webhook.value.data.repositories_added
          li Repositories Added:
            ul.pl-6.list-disc
              for repo in webhook.value.data.repositories_added
                li (#{repo.id}) #{repo.full_name}
        if webhook.value.github.event === "push"
          li Compare URL : #{webhook.value.data.compare}
          li Commits:
            ul.pl-6.list-disc
              for commit in webhook.value.data.commits
                li URL = #{commit.url}
                li Added:
                  ul.pl-6.list-disc
                    for file in commit.added
                      li= file
                li Modified:
                  ul.pl-6.list-disc
                    for file in commit.modified
                      li= file
                li Removed:
                  ul.pl-6.list-disc
                    for file in commit.removed
                      li= file
                
            

      pre.border.border-gray-600.p-6.mb-8= JSON.stringify(webhook.value, null, 2)
